# Database Configuration
DB_HOST=postgres_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ocr
DB_PORT=5432
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Jakarta

# App Configuration
APP_PORT=8080
JWT_SECRET=rahasia_super_kuat_2025

# API Key
MISTRAL_API_KEY=unLemeCapkuMX7rWADsJpyaaexi3VnUM

# Bucket default
STORAGE_BUCKET=silverocr
STORAGE_USE_SSL=false

# AWS / Localstack Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_BUCKET=ocr-bucket
S3_ENDPOINT=http://localstack:4566

# Redis Configuration
REDIS_ADDR=redis_db:6379
REDIS_PASSWORD=
REDIS_DB=0