DB_HOST=pg-2a32409f-farihulrouf-0d16.a.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=AVNS_rnBYt5oBARviGOnZNLY
DB_NAME=ocr
DB_PORT=21092
DB_SSLMODE=require
DB_TIMEZONE=Asia/Jakarta


# App Configuration
APP_PORT=3000
JWT_SECRET=rahasia_super_kuat_2025

MISTRAL_API_KEY=unLemeCapkuMX7rWADsJpyaaexi3VnUM


# Bucket default
STORAGE_BUCKET=silverocr

# Gunakan SSL? false untuk localhost
STORAGE_USE_SSL=false



AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

S3_BUCKET=ocr-bucket
S3_ENDPOINT=http://localhost:4566

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0